<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор отпускных</title>
</head>
<body>
<h1>Калькулятор отпускных</h1>

<form method="GET" th:action="@{/calculate}">
    <label for="yearAverageSalary">Введите среднюю зарплату за 12 месяцев: </label>
    <input type="text" name="yearAverageSalary" id="yearAverageSalary"/>
    <br/>
    <label for="numberOfVacationDays">Введите количество дней отпуска: </label>
    <input type="text" name="numberOfVacationDays" id="numberOfVacationDays"/>
    <br/>
    <hr/>
    <label for="startOfVacation">Введите дату начала отпуска: </label>
    <input type="date" name="startOfVacation" id="startOfVacation"/>
    <br/>
    <label for="endOfVacation">Введите дату окончания отпуска: </label>
    <input type="date" name="endOfVacation" id="endOfVacation"/>
    <hr/>
    <input type="submit" value="Рассчитать!"/>
</form>

<div th:if="${vacationPay != null}">
    <hr/>
    <span>Сумма ваших отпускных: </span><span th:text="${vacationPay}">vacationPay</span>
</div>
</body>
</html>